<div class="example-container page_title">
  Contact details
</div>

<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/contacts']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <!-- <mat-card-header>
    <mat-card-title><h2>{{contact.firstName}}</h2></mat-card-title>
  </mat-card-header> -->
  <mat-card-content>
    <dl class="data">
      <div>
        <dt>First Name:</dt>
        <dd>{{contact.firstName}}</dd>
      </div>
      <div>
        <dt>Last Name:</dt>
        <dd>{{contact.lastName}}</dd>
      </div>
      <div>
        <dt>Email:</dt>
        <dd>{{contact.email}}</dd>
      </div>
      <div>
        <dt>Phone Number:</dt>
        <dd>{{contact.phone}}</dd>
      </div>
      <div>
        <dt>Status:</dt>
        <dd>{{contact.status? 'Active' : 'Inactive'}}</dd>
      </div>
      <div>
        <dt>Last Updated:</dt>
        <dd>{{contact.updated_date | date}}</dd>
      </div>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/contact-edit', contact._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deleteContact(contact._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
